config/*.yaml
__pycache__
*.pyc
.idea/
.env
.DS_Store
.litellm_cfg_*.yaml
logs/
venv/
*~
eval/benchmarks/data
eval/results
eval/.DS_Store
*.log
.pytest_cache

docker/pg/pgdata
dataset/
.venv/
data/
tmp/